.card-container {
	max-width: 50rem;
	border: 1px solid #cdcdcd;
	border-radius: 15px;
	label {
		font-size: 1.2rem;
		font-weight: 600;
	}

	button {
		font-weight: 600;
		width: 100%;
	}
}

.card-data-form {
	padding: 1rem;
}

.card-notice {
	p {
		font-size: 1.3rem;
		font-weight: 600;
	}
	text-align: center;
	padding: 0.5rem;
	font-size: 1.2rem;
	background-color: gray;
	color: white;
	border-radius: 15px 15px 0 0;
}

.card-input-container {
	label {
		font-size: 1.2rem;
		font-weight: 600;
	}
	input {
		width: 45rem;
		padding: 0.5rem;
		border: none;
		border-bottom: 1px solid #cdcdcd;
		font-size: 1.2rem;
		margin: 1.2rem;
	}
}

.card-number-wrapper {
	display: flex;
	flex-direction: row;
}

.card-date-cvc-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	input {
		width: 20rem;
	}
}
