@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.coupon-event-container {
	@include flexCenter;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.coupon-event-title {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.coupon-event-subtitle {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.coupon-event-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
