.container {
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid #7f8695;
  width: 48.75rem;
  height: 5rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container > p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 700;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
