.container {
  width: 100%;
  height: 7.25rem;
  background: black;
  display: flex;
}

.logoBox {
  width: 15%;
  background: wheat;
  display: flex;
  align-items: center;
}

.logoBox > img {
  height: 3rem;
}

.buttonBox {
  width: 70%;
  background: skyblue;
  display: flex;
  align-items: center;
}

.userBox {
  width: 15%;
  background: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.userBox > img {
  width: 2rem;
}
