.word-input {
  padding: 0.7rem 30rem 0.7rem 1rem;
  margin-top: 3rem;
  text-align: left;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(178, 199, 237);
  height: 24rem;
  width: 100%;
}

.word-area div {
  margin: 0 1rem;
}
