@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	@include flexCenter;
	font-size: 1.5rem;
	background-color: rgb(100, 150, 255);
	color: white;
	border: none;
	margin: 1rem 0 1rem 0;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	cursor: pointer;
}
